.card {
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(69, 63, 63, 0.2);
    border: 100px;
    transition: 0.3s;
    width: 100%;
    padding-bottom: 100px;
}
.row{
    padding-top: 100px;
}
button{
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(154, 171, 255);
    font-weight: 800;
}